################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#-Basic/C#-Basic-Homeworks/1stClassHomework-Person/.vs/1stClassHomework-Person
