@{
    ViewData["Title"] = "Privacy Policy";
}
@{
    Random c = new Random();
    int a = 15;
    int random = c.Next(1, 100);
    <p>Zdravo</p>
    string b = "Heloooooo";
    <h3>@b+@a</h3>
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
